.sidebar-main{
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0px;
    bottom:0px;
    left:140px;
    justify-content:end;
}
.main-sidebar{
    display: flex;
    flex-direction: row;
}
.x-img-box{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left:5px;
}
.x-img{
    width:36px;
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.15s;
}
.x-img:hover{
    background-color:  rgb(238, 235, 235);
}
.img-og-box{
    display:flex;
    justify-content: center;
    align-items: center;
   
    
   
}
.all-btn-box{
    display: flex;
    flex-direction: column;

}
.btn-box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.15s;

}
.btn-link:hover .btn-box:hover{
    background-color: rgb(238, 235, 235);
}
.btn-link{
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    
}
.btn-name{
    font-size: 20px;
    font-weight: 500;
    text-decoration:none;
    color:#0f1419;
    padding: 0px 17px;
}
.btn-img{
    width:22px;
    padding:2px;
}
.post-btn-big-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post-btn-main{
    background-color: #1D9BF0;
    color:white;
    font-weight: 700;
    border:none;
    padding: 16px 95px;
    font-size: 17px;
    border-radius: 50px;
    margin:4px;
    cursor:pointer;
    transition: all 0.15s;
}

.post-btn-main:hover{
    background-color: #0e89e0;
}
.profile-main-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-top: 20px;
    transition: all 0.15s;
    cursor: pointer;
    border-radius: 40px;

}
.profile-main-box:hover{
    background-color: rgb(238, 235, 235);
}
.profile-name{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.naming{
    font-weight: 700;
    color:#0f1419;
}
.prf-naming{
    color:#536471;
}
